[submodule "vim/bundles/coffee-script"]
	path = vim/bundles/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundles/vim-rails"]
	path = vim/bundles/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "rename"]
	path = rename
	url = https://github.com/danro/rename.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/commandt"]
	path = vim/bundle/commandt
	url = https://github.com/wincent/Command-T.git
